[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SynMut"]
	path = SynMut
	url = https://github.com/koohoko/synmut
	shallow = true
	registered = true
